* {
    --light-blue: #196dcf;
    --lighter-blue: #7db3f1;
    --height-loading-bar: 1.5em;
}


/* I copied this font-face, directly from the official website

@font-face {
    font-family: 'supercell-magicregular';
    src: url("../fonts/supercell-magic.eot");
    src: url("../fonts/supercell-magic.eot?#iefix") format("embedded-opentype"), url("../fonts/supercell-magic.woff") format("woff"), url("../fonts/supercell-magic.ttf") format("truetype"), url("../fonts/supercell-magic.svg#supercell-magicregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

*/

@font-face {
    font-family: 'supercell-magic';
    src: url("https://clashroyale.com/blog-assets/fonts/supercell-magic.eot");
    src: url("https://clashroyale.com/blog-assets/fonts/supercell-magic.eot?#iefix") format("embedded-opentype"), url("https://clashroyale.com/blog-assets/fonts/supercell-magic.woff") format("woff"), url("https://clashroyale.com/blog-assets/fonts/supercell-magic.ttf") format("truetype"), url("https://clashroyale.com/blog-assets/fonts/supercell-magic.svg#supercell-magicregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'supercell-magic';
    margin: 0;
    overflow: hidden;
}


/* page 1 */

.page1 {
    background: url('./images/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.loading {
    background: black;
    box-shadow: 0 0 0.2em 0.2em black;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: grid;
    place-items: center;
}

.loading-bar {
    height: var(--height-loading-bar);
    width: 100%;
    padding: 0.2em;
    background: var(--light-blue);
    /*     transform: translatex(-100%);
    transition-duration: 0.5s; */
}


/* .loading:hover .loading-bar {
    transition-duration: 2s;
    transform: translatex(0);
} */

.loading-bar::before {
    content: '';
    display: block;
    height: calc(var(--height-loading-bar) / 2 + 0.1em);
    width: 100%;
    background: var(--lighter-blue);
    border-radius: 0.2em;
}

.loading::before {
    content: "100%";
    color: white;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 1.5em;
    bottom: calc(var(--height-loading-bar) / 2 - 0.1em);
    text-shadow: 0 0.2em 0.1em black, 0 0 0.5em black;
}